.carsLogo {
    max-width: 75px;
}
.heroImage {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
.jumbotron {
    background-image: url("https://via.placeholder.com/1000");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
}
.jumboHR {
    border: none;
    height: 5px;
    background-color: black;
    margin: 0;
}
.mainContainer {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
.mainContent {
    height: 1000px;
}
.mainContent .card {
    margin-right: 15px;
    width: 220px;
}
.addSpace {
    background-color: aquamarine;
    height: 1000px
}